.login-container {
  /* width: 80vw;
  height: 25vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 40%;
  padding: 0.5em 0.5em;
  /* background-color: #cad1df; */
}

.user-input {
  height: 2vh;
  padding: 0.4em;
  width: 80%;
  font-size: 1.5vw;
  border: none;
  border-bottom: solid black 2px;
  background-color: rgba(193, 215, 252, 0.461);
}

.input-label {
  font-size: 1.5vw;
  text-align: left;
  float: left;
  color: rgba(128, 128, 128, 0.838);
  margin-top: 2vh;
}

.login-btn {
  background-color: rgba(80, 98, 237, 0.927);
  border: none;
  border-radius: 0.5em;
  font-size: 1vw;
  margin-top: 2vh;
  cursor: pointer;
  font-weight: 900;
  width: 82%;
  color: white;
  padding: 1em 0.4em;
}

.error-message {
  font-size: 1vw;
  color: red;
}
